*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
private.properties
.externalNativeBuild
/keystore.jks
.idea/dictionaries/
.idea/inspectionProfiles/
app/app-release.apk
app/libs/
app/src/main/res/drawable/
keystore.jks
